agents/n8n-ecommerce-analytics-agent/ecommerce-analytics-agent-workflow.json
{
  "name": "Nebius AI Studio Data Analyst Chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Dylan, Data analyst for Nike. How can I assist you today?",
        "options": {}
      },
      "id": "2663add6-710a-4b12-9be4-3a6d12a13996",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -1060,
        200
      ],
      "webhookId": "16ef58aa-3eea-4a2c-8d5d-3acef140a6d4",
      "typeVersion": 1.1,
      "notes": "How many refunds in January and what was the amount refunded?"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant.\nCurrent timestamp is {{$now}}\nWhen responding, explicitly structure your response as plain JSON in the following format, without any markdown or code formatting:\n\n{\n\"reply\": \"Short chat response (summary/tldr)\",\n\"doc_update\": \"Your content to insert into the document goes here\"\n}\n\nDo NOT wrap the output in markdown or code fences.\nIf one of these actions is not needed, use an empty string (\"\").\n",
          "maxIterations": 15
        }
      },
      "id": "57d6be44-59dc-4ba8-bb60-fdaaacf0c89d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -580,
        200
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {},
      "id": "9d0bdf68-6543-4326-81f7-f9647095cb60",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        -260,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "To send all the items back to the AI, we need to finish with everything aggregated into one single item.\n\nOtherwise it will respond with one item at a time, and the AI will only get the first item that arrives.",
        "height": 400,
        "width": 220,
        "color": 7
      },
      "id": "3400dcec-ca7a-46c7-bc97-694330b841b2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This node sends a custom HTTP Request to the Google Sheets API.\n\nFiltering by date range in the Google Sheets API is very complicated.\n\nThis node solves that problem.\n\nBut doing the same in a database is much simpler. A tool could do it without needing a sub-workflow.",
        "height": 400,
        "width": 300,
        "color": 7
      },
      "id": "225a35e7-9eb6-4978-8104-cbd7e1e05d03",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The output from this complex request is also messy.\n\nSo we use some code generated by ChatGPT to transform the data into JSON objects.",
        "height": 400,
        "width": 220,
        "color": 7
      },
      "id": "5650f323-cf5e-4c8b-8002-a71c8d402e60",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Find transactions by product.\nOur products are:\n\nAir Jordan 1 Retro High OG\n\nNike Mercurial Vapor 15 Elite FG\n\nNike NBA Lakers Swingman Jersey\n\nNike Air Force 1 '07\n\nNike Sportswear Tech Fleece Hoodie\n\nNike Dri-FIT ADV Soccer Jersey\n\nNike Phantom GX Elite Soccer Cleats\n\nAir Jordan 4 Retro\n\nNike Dunk Low\n\nNike Zoom Pegasus 40",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JA9XE_ikbAVyuQEeiYf6GwTtRcyIaIAABuJbeIaJtN4/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18A4d7KYrk8-uEMbu7shoQe_UIzmbTLV1FMN43bjA7qc/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Product",
              "lookupValue": "={{ $fromAI(\"product_name\", \"The product name\", \"string\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6294d42c-6fc5-4b54-8d62-eea7e15d444f",
      "name": "Get transactions by product name",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        80,
        480
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LIMdx6tfnUpOqUxm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Only use this as last resort, because it will pull all data at once.",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JA9XE_ikbAVyuQEeiYf6GwTtRcyIaIAABuJbeIaJtN4/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JA9XE_ikbAVyuQEeiYf6GwTtRcyIaIAABuJbeIaJtN4/edit#gid=0"
        },
        "options": {}
      },
      "id": "3f035961-d801-4060-9d8d-b73569778a4f",
      "name": "Get all transactions",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        -100,
        680
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LIMdx6tfnUpOqUxm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Some questions to try\nThere's a red button on this page that you can click to chat with the AI.\n\nTry asking it these questions:\n\n- How many refunds in January and what was the amount refunded?\n\n- How many successful sales did we have in January 2025 and what was the final income of those?\n\n- What is the most frequent reason for refunds?",
        "height": 340,
        "width": 320,
        "color": 4
      },
      "id": "dc34b08b-74ac-4133-8378-f42497bb3ea8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1820,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Copy this Sheets file to your Google Drive\nhttps://docs.google.com/spreadsheets/d/18A4d7KYrk8-uEMbu7shoQe_UIzmbTLV1FMN43bjA7qc/edit?gid=0#gid=0",
        "width": 400,
        "color": 4
      },
      "id": "2e5afdb6-68b9-449e-94e3-5adfc6d5074a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2340,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 👈\nThe Calculator is a tool that allows an agent to run mathematical calculations.",
        "height": 140,
        "width": 200,
        "color": 7
      },
      "id": "d58f914a-8f7e-48ca-9166-02ce6c564c21",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2060,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### How to connect to Google Sheets?\nTo connect your n8n to your Google Sheets you're gonna need Google OAuth credentials\n\nSee documentation **[here](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/)**",
        "width": 400,
        "color": 4
      },
      "id": "7c05aa07-a2a1-4e97-86c3-a885c47c0982",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2260,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👆\nYou can use many models here, including the free Google Gemini options.\n\nMake sure to test it thoroughly. Some models are better for data analysis.",
        "height": 260,
        "width": 170,
        "color": 7
      },
      "id": "cac67533-b7af-41e1-b30b-0c8199fdddd2",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👆\nThis is a short term memory. It will remember the 5 previous interactions during the chat",
        "height": 260,
        "width": 150,
        "color": 7
      },
      "id": "7a453c2f-4408-4f24-94f3-46401b2f08c9",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        1260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "9cce9103-04fe-40bb-bd2a-548dba6c6e5b",
      "name": "Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -540,
        420
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "The **AI Tools Agent** has access to all the tools at the same time. It uses the name and description to decide when to use each tool.\n\nNotice I'm using `$fromAI` function in all of them.\n\nSee documentations **[here](https://docs.n8n.io/advanced-ai/examples/using-the-fromai-function/)**",
        "height": 180,
        "width": 340,
        "color": 7
      },
      "id": "0eee4db2-fd75-40c6-a9a6-0f4f79883b8d",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👈 This is a special tool\nIt is used to call another workflow.\nThis concept is called sub-workflow.\n\nSee documentation [here](https://docs.n8n.io/flow-logic/subworkflows/).\n\nInstead of running a completely separate workflow, we are calling the one below.\n\nIt's contained in the same workflow, but we are using the trigger to define it will run only when called by this tool.",
        "height": 320,
        "width": 340,
        "color": 7
      },
      "id": "77b3022f-3943-422c-8cb5-7ca5efebffdd",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2060,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Sub-workflow\nThe AI can call this sub-workflow anytime,\nby using the **Records by date** tool.\n\nThe sub-workflow automatically return\n the result of the last executed node to the AI.",
        "height": 520,
        "width": 1380,
        "color": 7
      },
      "id": "80f92d84-504d-41e3-b617-fa5a4d63485e",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -500,
        1540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Find transactions by status",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JA9XE_ikbAVyuQEeiYf6GwTtRcyIaIAABuJbeIaJtN4/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18A4d7KYrk8-uEMbu7shoQe_UIzmbTLV1FMN43bjA7qc/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "={{ $fromAI(\"transaction_status\", \"Transaction status can be Refund, Completed or Error\", \"string\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8f873b89-0c25-428a-b212-4aeae30edc83",
      "name": "Get transactions by status",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        -100,
        480
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LIMdx6tfnUpOqUxm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Change the URL of the Sheets file in all the Sheets tools 👇",
        "width": 300,
        "color": 4
      },
      "id": "9d70ed56-28d1-485d-a0a6-92a7f300da0a",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2020,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👆 Change the URL of the Sheets file",
        "height": 100,
        "width": 260,
        "color": 4
      },
      "id": "b32bbbf1-769c-4e5c-9dae-1bf9e35c39f9",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        2120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Dylan Bristot\n\n### Product Marketing Manager at Nebius AI Studio, specializing in innovative AI solutions and platform scaling strategies for developers and enterprises.\n\n### For business inquiries, email me at dylan@nebius.com \nOr message me on [Linkedin](https://www.linkedin.com/in/dylanbristot/) for a faster response.\n\n###  Check out more about Nebius AI Studio\n\n###  👉 https://nebius.com/ai-studio\n\n\n\n![Nebius](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR38QsuY_562-MeVJv8jcz-WuDHGcCGYjn8Wg&s)\n\n",
        "height": 980,
        "width": 820,
        "color": 7
      },
      "id": "c2d0e9d1-1483-46e7-928c-964d6e4e7733",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2540,
        -1020
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Need help?\nFor getting help with this workflow, please create a topic on the community forums here:\nhttps://community.n8n.io/c/questions/",
        "height": 180,
        "width": 740
      },
      "id": "96caadda-b562-487b-98bc-148c80030e5e",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1400,
        1880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 💡 **Want to learn advanced n8n skills and earn money building workflows?**\n‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎Check out [Scrapes Academy](https://www.skool.com/scrapes/about?ref=21f10ad99f4d46ba9b8aaea8c9f58c34)",
        "height": 80,
        "width": 700,
        "color": 4
      },
      "id": "b12de6bd-d97c-44ee-af42-e8aa6d64bc9f",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1380,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-ai/DeepSeek-V3-0324-fast",
          "mode": "list",
          "cachedResultName": "deepseek-ai/DeepSeek-V3-0324-fast"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "46602005-ac4d-4bb3-8fff-e2a858c1a51c",
      "name": "NEBIUS LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -840,
        420
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "DYVuuN1WyK3EX5pc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        2100
      ],
      "typeVersion": 1,
      "id": "abfd5ca4-0ccf-4115-a57c-b38b3b3d9ab0",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "\n![Nebius](https://pbs.twimg.com/profile_images/1853483822009978880/meOnMhlX_400x400.jpg)\n\n",
        "height": 140,
        "width": 150,
        "color": 5
      },
      "id": "dd002bc2-c8a0-4432-ba7d-c6533b03f181",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n![Nebius](https://reglo.ai/wp-content/uploads/2025/01/comment-utiliser-chat-deepseek.png)\n\n",
        "height": 100,
        "width": 150,
        "color": 7
      },
      "id": "809a94c5-53cd-41a7-9f14-6e181d259195",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1_bal_zLX1zBuK0V_Y3Y-_ylqDiwwR5MqNR0JPxdsYMo/edit?usp=sharing",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json[\"text\"].trim() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        80
      ],
      "id": "38e80a6f-c758-4289-a2e8-533730e1b71e",
      "name": "Document Strategy",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "tPPamJOKoHqylGem",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"reply\": {\"type\": [\"string\", \"null\"]},\n    \"doc_update\": {\"type\": [\"string\", \"null\"]}\n  },\n  \"required\": []\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -540,
        640
      ],
      "id": "2db06449-66a1-4874-81cb-0406cd001676",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "41d919b0-b098-4aeb-8952-00a8fb5140c6",
              "leftValue": "={{ $json[\"output\"][\"doc_update\"] !== undefined && $json[\"output\"][\"doc_update\"].trim() !== \"\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        280
      ],
      "id": "f4d86467-b96d-4592-a58a-34d825d72a86",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ae2a41a-df63-4134-b038-30a215c3c4c1",
              "name": "text",
              "value": "={{ $json[\"output\"][\"reply\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        -40
      ],
      "id": "8bf17d40-bb8e-4567-adc5-32da5e3fec4c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "473a42a6-ef6a-49c4-987e-0465fa934229",
              "name": "text",
              "value": "={{ $json[\"text\"].replace(/\\\\n/g, '\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -40
      ],
      "id": "f8400609-1f2a-4d97-8709-eac02f132a01",
      "name": "Chat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "092f68ec-2f19-4de5-93b2-bdbea04c9f8e",
              "leftValue": "={{ $json[\"output\"][\"reply\"] !== undefined && $json[\"output\"][\"reply\"].trim() !== \"\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        60
      ],
      "id": "fd6e1ce5-a307-4a25-8e74-e50712797e92",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1020,
        -40
      ],
      "id": "395dd1eb-d4af-4fff-bbcf-945d4561ae19",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ae2a41a-df63-4134-b038-30a215c3c4c1",
              "name": "text",
              "value": "={{ $json[\"output\"][\"doc_update\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        280
      ],
      "id": "56a97124-8759-4127-9740-e5576a380298",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f7c44dc-4b7f-4aa6-804b-4b3c566061ef",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        580,
        300
      ],
      "id": "c6c766c0-72fe-4c6f-bb48-c8be61a7fd5a",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get all transactions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get transactions by status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transactions by product name": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NEBIUS LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Strategy": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Document Strategy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0c86e50-8a9c-4c44-b77f-0d4e76a74b46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84ba1ec9f09cbfb9a5bc435af40e2c2fc0a3211c946ff1702a8b97457ed318b1"
  },
  "id": "gPFDqiKH1W8cQft9",
  "tags": []
}